.info *:first-child {
  padding: 15px 0;
}

.info * {
  padding: 8px 0;
}

.intro {
  background-color: rgba(10, 67, 121, 0.9);
}

.intro * {
  color: white;
}

.introduce {
  align-items: flex-start;
}

.game-section {
  background-color: rgb(244, 224, 255);
}

.game-section .list {
  column-gap: 20px;
}

.game {
  width: 100%;
  max-width: 320px;
  margin: auto 0;
  aspect-ratio: 4/3;
  background-color: rgb(50,50,50);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;

  &:hover {
    ~:not(:hover) {
      filter: grayscale(100%);
      background-color: rgb(127, 127, 127);    
      & > img {
        scale: 0.9;
      }
    }
  }

  &:has(~:hover) {
      filter: grayscale(100%);
      background-color: rgb(127, 127, 127);    
      & > img {
        scale: 0.9;
      }
  }
}

.game img {
  transition: 0.3s;
  width: 80%;
}

@media (min-width: 700px) {
  .introduce {
    margin: 0 auto;
    padding: 100px 0;
  }
}