main * {
  margin: 5px 0;
}

h1 {
  font-size: 32px;
  margin: 20px 0;
}

h2 {
  font-size: 26px;
}

hr {
  margin-bottom: 20px;
}

.sub-article {
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition-duration: 0.3s;  

  &:hover {
    transition-duration: 0.3s;
    background-color: rgba(190, 222, 252, 0.5);
    animation: 1s pulse;
    box-shadow: 0 0 0 2em transparent, -10px -10px 8px rgb(200,200,200);
  }
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 rgb(120, 190, 255); }
}

a {
  text-decoration: none;
}

.thumbnail img {
  aspect-ratio: 2/1;
  height: 130px;
}

.sub-article {
  display: flex;
}

@media(max-width: 760px) {
  .sub-article {
    align-items: center;
    flex-direction: column;
  }

  h2 {
    margin: 10px 0;
  }
}

@media(min-width: 761px) {
  .sub-article {
    column-gap: 10px;
  }

  h2 {
    margin: 20px 0;
  }
}