.closed {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 34px;
  font-weight: bold;
  text-align: center;
}


.closed img {
  max-height: 300px;
  width: 100%;
}