main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

main * {
  line-height: initial;
}

.error-content, .error-content * {
  text-align: center;
}

.code {
  font-size: 96px;
}

.button {
  line-height: 36px;
  width: 220px;
}