.section {
  padding: 50px 30px;
}

main {
  padding: 0;
  padding-top: 40px;
}

.introduce {
  background: rgb(25, 100, 170);
  background: linear-gradient(60deg, rgb(25, 100, 170) 0%, #0a3864 100%);
}

.introduce * {
  color: rgb(230, 230, 230);
}

.sub-hello {
  font-size: 16px;
  line-height: 28px;
}

.project-section {
  background-color: rgba(0, 0, 70, 0.15);
}

.project:hover {
  background-color: rgb(25, 100, 170);
  box-shadow: 0 0 0 1em transparent;
}

.project:hover > * {
  color: white;
  font-weight: 500;
}

.project {
  width: 100%;
  max-width: 400px;
  transition: 0.3s;
  padding: 10px;
  border-radius: 4px;

  &:hover {
    background-color: rgb(25, 100, 170);
    box-shadow: 0 0 0 1em transparent;

    & * {
      color: white;
      font-weight: 500;
    }

    ~:not(:hover) {
      filter: brightness(50%) grayscale(100%);
    }
  }

  &:has(~:hover) {
    filter: brightness(50%) grayscale(100%);
  }
}

.list {
  display: flex;
  row-gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.project > img {
  transition: 0.3s;
  width: 100%;
}

@media (max-width: 749px) {
  .hello {
    font-size: 40px;
  }

  .avatar {
    width: 100%;
    max-width: 200px;
    border-radius: 50%;
  }

  .introduce {
    padding: 50px 10px;
  }
}

@media (min-width: 750px) {
  .hello {
    font-size: 64px;
  }

  .avatar {
    width: 200px;
    border-radius: 50%;
  }

  .introduce {
    padding: 24.5vh 0;
  }
}