main {
  padding: 0px;
  padding-top: 25px;
}

.section {
  padding: 50px 30px;
}

.introduce {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
  width: 100%;
  column-gap: 20px;
}

#hello_world {
  margin-bottom: 20px;
}

.project-section {
  background-color: rgb(233, 244, 255);
}

.project {
  width: 100%;
  max-width: 400px;
  transition: 0.3s;
  padding: 10px;
  border-radius: 4px;

  &:hover {
    background-color: rgb(25, 100, 170);
    animation: 1s pulse;
    box-shadow: 0 0 0 1em transparent;

    & * {
      color: white;
      font-weight: 500;
    }

    ~:not(:hover) {
      filter: grayscale(100%);
    }
  }

  &:has(~:hover) {
    filter: grayscale(100%);
  }
}

.project > img {
  transition: 0.3s;
  width: 100%;
}

@media (max-width: 749px) {
  .avatar img {
    width: 100%;
    max-width: 300px;
    border-radius: 50%;
  }

  .introduce {
    flex-direction: column;
  }

  #hello_world {
    text-align: center;
  }
}

@media (min-width: 750px) {
  .avatar img {
    width: 300px;
    border-radius: 50%;
  }

  .introduce {
    margin: 150px auto;
  }
}