* {  
  user-select: initial;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

.list {
  display: grid;
  column-gap: 20px;
  row-gap: 10px;
}

.link_list {
  padding-left: 40px;
  padding-right: 20px;
  margin-top: -20px;
  padding-top: 20px;
  border: 2px solid #0a3864;
  border-radius: 10px;

  & > li * {
    font-size: 20px;

    &:hover {
      text-decoration: underline;
      color: rgb(25, 100, 170);
    }
  }
}

.small-heading {
  font-size: 22px;
  font-weight: 600;
  background-color: #0a3864;
  color: white;
  margin: 0 auto;
  padding: 2px 0;
  width: 300px;
  border-radius: 50px;
  border: none;
}

#dkmh {
  text-align: center;
  list-style-type: none;
  font-style: italic;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 3px;
}

.image_list {  
  padding: 25px 20px;
  padding-bottom: 0;
  margin-top: -20px;
  border: 2px solid #0a3864;
  border-radius: 10px;
  list-style-type: none;
}

.link_media {
  transition-duration: 0.3s;

  &:hover {
    box-shadow: 0 0 0 1em transparent;

    & * {
      color: white;
      font-weight: 500;
    }

    ~:not(:hover) {
      filter: brightness(30%) grayscale(100%);
    }
  }

  &:has(~:hover) {
    filter: brightness(30%) grayscale(100%);
  }
}

.btn_media {
  background: none;
  border: none;
  line-height: 0px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.media {
  width: 50px;
  height: 50px;
}

abbr {
  text-decoration: none;
}

@media (max-width: 799px) {
  .list {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 800px) {
  .list {
    grid-template-columns: 3.25fr 1.75fr;
  }
}