:root {
  --width: 360px;
}

main {
  display: grid;
  column-gap: 25px;
}

a {
  color: rgb(70,70,70);
  text-decoration: none;
  vertical-align: top;
}

/*bên trái*/
.left {
  position: relative;
}

.left * {
  padding-bottom: 5px;
}

.intro, .intro * {
  vertical-align: middle;
}

.info {
  margin-top: 0!important;
  text-align: center!important;
  display: block;
}

#avatar {
  border-radius: 100%;
  max-width: 160px;
  width: 100%;
  transition-duration: 0.15s;
  padding: 0;
  margin-bottom: 10px;
}

#avatar:hover {
  transition-duration: 0.15s;
  box-shadow: 5px 0 5px rgb(200,200,200);
}

#name {
  font-size: 26px;
  font-weight: bold;
}

.intro-head {
  font-size: 22px;
  font-weight: bold;
  transition-duration: 0.15s;
}

.contact, .lang {
  padding: 0;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 100%;
  background: repeat 0 0;
  background-size: cover;
  transition-duration: 0.3s;
}

.lang {
  width: 30px;
  height: 30px;
}

.contact *, .lang * {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.contact {
  filter: grayscale(100%);

  &:hover {
    filter: none;
    transition-duration: 0.3s;
    animation: 1s pulse;
    box-shadow: 0 0 0 15px transparent;
  }
}

/*bên phải*/
.right {
  padding-left: 20px;
}

.right * {
  padding-bottom: 2.5px;
}

.title {
  margin: 20px 0;
  font-size: 32px;
  text-align: center;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--width), 1fr));
  grid-auto-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 25px;
  justify-items: center;
}

.project {
  padding: 10px;
  border-radius: 10px;
  padding-bottom: 0px;
  max-width: var(--width);
  cursor: pointer;
  text-align: justify;
  height: 100%;
  transition-duration: 0.3s;

  &:hover {
    transition-duration: 0.3s;
    background-color: rgba(190, 222, 252, 0.5);
    animation: 1s pulse;
    box-shadow: 0 0 0 2em transparent, -10px -10px 8px rgb(200,200,200);
  }
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 rgb(120, 190, 255); }
}

.project-img {
  border-radius: 5px;
  width: 100%;
}

.project-name {
  font-size: 22px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  margin-bottom: 4px;
}

.thong-tin {
  text-align: center;
  font-size: 16px;
  margin-bottom: 1px;
}

.language {
  height: 22px;
}

/* responsive */
@media(max-width: 760px) {
  main {
    display: block;
  }

  .intro {
    text-align: center;
    margin: 10px 0;
  }

  hr {
    border: 1px solid rgb(200,200,200);
    width: 100%;
    padding: 0!important;
    margin-bottom: 20px;
  }

  .list {
    display: block;
  }

  .list * {
    margin: 0 auto;
  }
}

@media(min-width: 761px) {
  .left {
    text-align: center;
  }

  main {
    grid-template-columns: 300px 1fr;
  }

  .intro {
    text-align: justify;
    margin: 15px 0;
  }

  .info {
    position: sticky;
    top: 75px;
  }

  hr {
    border: 0;
  }

  .right {
    border-left: 1px solid rgb(70,70,70);
  }
}