.project-list {
  max-width: 1200px;
  margin: 0 auto;
}

.project {
  display: grid;
  column-gap: 20px;
  align-items: center;
  transition: 0.25s;
  padding: 20px;
}

.project:hover {
  background-color: rgba(0, 0, 70, 0.15);
}

.thumbnail img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.15);
}

.project-title {
  font-weight: bold;
  font-size: 28px;
  padding: 5px 0;
}

.button {
  margin-top: 10px;
  padding: 1px 30px;
}

.button img {
  height: 24px;
  vertical-align: sub;
}

@media (max-width: 699px) {
  .thumbnail img {
    max-width: 270px;
  }

  .project * {
    text-align: center;
  }
}

@media (min-width: 700px) {
  .project {
    grid-template-columns: 5fr 7fr;
  }
}