.section {
  padding: 30px 0px;
}

.list {
  column-gap: 10px;
}

.link_list {
  padding-left: 40px;
  padding-right: 20px;

  & > li {
    font-size: 24px;

    * {
      font-size: 22px;
      transition: 0.1s;

      &:hover {
        font-weight: 500;
        text-decoration: underline;
        color: rgb(25, 100, 170);
      }
    }
  }
}

.quick-access {
  background-color: rgba(10, 67, 121, 0.9);
  margin: 0 -10px;

  * {
    color: white;
  }

  li *:hover {
    color: white;
  }
}

.small-heading {
  font-size: 28px;
  font-weight: 600;
  background-color: rgb(25, 100, 170);
  color: white;
  margin: 0 20px;
  padding: 8px 0;
  border-radius: 50px;
  border: none;
}

.softwares {
  width: 100%;
  max-width: 490px;
  margin: 20px 0;
}