* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: "Georama", sans-serif;
  user-select: none;
  line-height: 36px;
  text-align: justify;
  color: rgb(50,50,50);
}

img {
  pointer-events: none;
}

a {
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}

.heading {
  font-size: 40px;
  padding: 12px 0;
  line-height: 45px;
}

.extra_bold {
  font-weight: 800;
}

.center {
  text-align: center;
}

.mt {
  margin-top: 15px;
}

.mb {
  margin-bottom: 15px;
}

.pb {
  padding-bottom: 15px;
}

.pt {
  padding-top: 15px;
}

.disabled {
  display: none;
}

.hidden {
  overflow: hidden;
}

.list {
  display: flex;
  row-gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.button {
  background: linear-gradient(to right, rgb(25, 100, 170) 50%, rgb(160, 207, 250) 50%);
  background-size: 201% 100%;
  background-position: right bottom;
  transition: all .35s ease-out;
  padding: 6px 20px;
  border-radius: 50px;
  border: none;
}

.button:hover {
  background-position: left bottom;
  color: white;
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 rgb(120, 190, 255); }
}

/*style for pages*/
body {
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(160, 207, 250);
  height: 40px;
  z-index: 2;
}

nav {
  padding-left: 20px;
}

nav * {
  height: 40px;
  vertical-align: middle;
}

nav a {
  color: rgb(50,50,50);
  text-decoration: none;
}

.full-button button, .button-menu button {
  width: 100%;
  font-size: 20px;
  text-align: center;
  background-color: rgb(160, 207, 250);
  border: none;
  cursor: pointer;
  transition-duration: 0.25s;
}

.button-menu {
  display: none;
}

.button-menu * {
  height: 55px;
}

.button-menu *:hover {
  background-color: rgb(25, 100, 170);
  color: white;
  font-weight: bold;
  text-decoration: underline;
}

.background-menu {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  z-index: 2;
}

.full-button {
  display: grid;
  grid-template-columns: 130px 130px 130px 130px;
}

.full-button button {
  height: 40px;
}

.full-button button:hover {
  box-shadow: inset -75px 0 0 0 rgb(25, 100, 170), inset 75px 0 0 0 rgb(25, 100, 170);
  color: white;
  font-weight: bold;
  text-decoration: underline;
}

main {
  padding: 10px;
  padding-top: 25px;  
  background-color: rgb(255, 255, 250);
  flex-grow: 3;
}

footer {
  background-color: rgb(160, 207, 250);
  text-align: center;
  padding: 2px 0;
}

@media (max-width: 799px) {
  .full-button {
    display: none;
  }

  nav {
    padding-right: 20px;
    display: grid;
    grid-template-columns: 1fr 40px;
  }
}

@media (min-width: 800px) {
  .single-button {
    display: none;
  }

  nav {
    display: grid;
    grid-template-columns: 1fr 520px;
  }
}